@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  fill: currentColor;
}

button {
  font-family: 'Rubik'; 
}

a {
  font-family: 'Rubik';
  color: black;
}
a:hover {
  color: #D9534F;
}

.nav-link {
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  background-color:#fffcd2;
}

navbar-nav {
  justify-content: space-between;
  align-content: space-between;
}

.navlinkcontainer {
  justify-content: right;
}

.menu-link {
  margin-right: 2rem;

}

.logo {
  height: 4rem;
  margin-left: 2rem;
}

.cartWidget {
  display: flex;
  align-self: center;
}

.navbar-toggler{
  border: 0rem;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.emptycart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: grey;
}

.empty-cart {
  height: 10rem;
}

.empty-cart-title {
  text-align: center;
  margin-top: 3rem;
}


.btn-empezaracomprar {
  padding: 1%;
  font-family: 'Rubik';
  font-size: 1rem;
  text-decoration: none;
  background-color: #96CEB4;
  border-style: none;
  border-radius: 60px;
}
.btn-empezaracomprar:hover{
  color: black;
  background-color:#D9534F
}

.btn{
  padding: 2%;
  font-family: 'Rubik';
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: #96CEB4;
  border-style: none;
  color: black;
  border-radius: 60px;
}
.btn:hover{
  background-color: #D9534F;
}
.btn:active:visited{
  border: none;
  border-style: none;
}

.btnCart {
  padding: 1%;
}

.btn-iralcarrito {
  margin-left: 0.5rem;
}

.categorybtn{
  border: none;
  background-color: transparent;
}
.categorybtn:hover {
  color: #D9534F;
}
.categorybtn:focus {
  color: #D9534F;
}
.barlink:hover {
  color: #D9534F;
}
.barlink:focus {
  color: #D9534F;
}
.barlist:active {
  background-color: #D9534F;
}

.btnmasmenos {
  border-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Rubik';
  font-size: 1.5rem;
  background-color: transparent;
}

.cont {
  display: flex;
  flex-direction: row;
}

.counter-cont {
  font-size: 1rem;
}

.btnOnAdd{
  margin-left: 1.6rem
}


.portada{
  height: 12rem;
  object-fit: contain;
  margin: 0.5rem;
}

.catalogo-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: center;
}

.catalogo-card{
  width: 15rem;
  margin: 1rem;
  align-items: center;
  transition: transform, 1s;
}
.catalogo-card:hover {
  transform: scale(1.05);
}

.cart-container{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.total-container {
  margin-top: 5rem;
  margin-left: 5rem;
}

.cart-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.cart-card{
  width: auto;
}

.portada-cart{
  height: 5rem;
}

.card-body-cont{
  width: 15rem;
}

.precioTotal {
  font-family: 'Rubik';
  font-size: 1.5rem;
}

.swal-text{
  font-family: 'Rubik';
  color: black;
}
.swal-title{
  font-family: 'Rubik';
  color: black;
}
.swal-button{
  font-family: 'Rubik';
  letter-spacing: 3px;
  background-color: #96CEB4;
  border-style: none;
  border-radius: 60px;
  color: black;
}
.swal-button:hover{
    background-color: #D9534F;
    color: black;
  }
.swal-overlay{
  background-color:#fffcd2;
}

.checkout-container {
  display: flex;
  margin-top: 2rem;
  place-content: center;
}
h3{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.btn-confirmarOrden {
  padding: 3%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 768px){
  body{
    width: auto;
  }

  .cartWidget {
    align-self: flex-start;
  }

  .cart-container{
    margin: 2rem;
    padding-left: 0rem;
  }

  .cart-cont{
    column-gap: 1rem;

  }

  .precioTotal {
    font-family: 'Rubik';
    font-size: 1rem;
  }

  h3{
    font-size: 1rem;
  }


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
