* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn{
  padding: 1%;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: turquoise;
  border-style: none;
  color: black;
  border-radius: 60px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.btn hover{
  background-color: yellow;
  }

.cont{
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  align-items: center;
}

.btnOnAdd{
  margin-left: 1.6rem
}


.portada{
  height: 15rem;
  object-fit: contain;
  margin: 0.5rem;
}

.catalogo-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
}

.catalogo-card{
  width: 15rem;
  margin: 1rem;
  align-items: center;
}
.card-body-cont{
  width: 15rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
